<div class="text-container text-center">
      <div class="form-group row">
        <small class="w-100">Prayer Timings</small>
      </div>
      <i *ngIf="prayers?.length===0" class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" ></i>
      <div class="row  text-left" *ngFor="let timing of prayers">
        <label for="number-input" class="col-8 text-left col-form-label">{{timing.key}}</label>
        <div class="col-4 text-right">
           {{timing.val}}
        </div>
        <hr />
      </div>
</div>
