<div class="text-container text-center">
      <div class="form-group row">
        <small class="w-100">Prayer Timings</small>
      </div>
      <i *ngIf="prayers?.length===0" class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" ></i>
      <div class="row  text-left custom-row" *ngFor="let timing of prayers">
        <label for="number-input" class="col-8 font-weight-bold">{{timing.key}}</label>
        <div class="col-4 text-right  font-weight-bold">
           {{timing.val}}
        </div>
      </div>
</div>
