<div class="text-container">
    <div class="form-group row text-center">
      <small>Qaza Prayers</small>
    </div>
    <form [formGroup]="form">
      <div class="form-group row" *ngFor="let prayer of prayers">
        <label for="number-input" class="col-8 text-left col-form-label">{{prayer.name}}</label>
        <div class="col-4">
           <counter-input
            formControlName="counter"
            [counterRangeMax]="maxValue"
            [counterRangeMin]="minValue"
            [counterValue]="prayer.value"
            [counterName]="prayer.name"
            (notify) = "onChange($event)"
            ></counter-input>
        </div>
      </div>
    </form>
</div>
