<div class="text-container">
    <div class="form-group row text-center">
      <small>Qaza Prayers Diary</small>
    </div>
    <form [formGroup]="form">
      <div class="form-group row custom-row " *ngFor="let prayer of prayers">
        <label for="number-input" class="col-xl-8 col-sm-8 text-left col-form-label font-weight-bold">{{prayer.name}}</label>
        <div class="col-xl-4 col-sm-4">
           <counter-input
            formControlName="counter"
            [counterRangeMax]="maxValue"
            [counterRangeMin]="minValue"
            [counterValue]="prayer.value"
            [counterName]="prayer.name"
            (notify) = "onChange($event)"
            ></counter-input>
        </div>
      </div>
    </form>
</div>
