<div class="text-container">
  <div class="row text-center form-group">
    <small>Ayat History</small>
  </div>

  <div *ngFor="let ayah of history; let i=index">
    <div class="row custom-row border-bottom-dim" (click)="getAyah(ayah.sequenceNum)" title="Go to Ayat">
      <div class="col-lg-3 col-md-12 text-left">
        <span class="text-left col-form-label number">{{i+1}}</span>
        <span class="ayat-number font-weight-bold">{{ayah.surah + " : " + ayah.number }}</span>
      </div>
      <div class="col-lg-9 col-md-12 text-right arabic-text">
        <span>{{ayah.text}}</span>
      </div>
    </div>
  </div>
</div>
