<div [ngClass]="{'pattern-bg': !backgroundImage}" class="site-wrapper">
  <div [ngStyle]="styleProperty" class="image-bg">
    <div class="masthead clearfix">
      <div class="inner">
        <div class="masthead-brand">
          <app-gsearch></app-gsearch>
        </div>
        <nav class="nav nav-masthead">
          <a [routerLink]="['/app/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Ayat</a>
          <a [routerLink]="['/app/timings']" routerLinkActive="active" class="nav-link">Prayer Timings</a>
          <a [routerLink]="['/app/qazaPrayers']" routerLinkActive="active" class="nav-link">Qaza Prayers</a>
          <a [routerLink]="['/app/ayatHistory']" routerLinkActive="active" class="nav-link">Ayah History</a>
        </nav>
        <div class="vertical-nav">
          <div class="vertical-nav__icon fa fa-bars">
          </div>
          <div class="vertical-nav__links">
            <nav class="nav nav-masthead flex-column">
              <a [routerLink]="['/app/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Ayat</a>
              <a [routerLink]="['/app/timings']" routerLinkActive="active" class="nav-link">Prayer Timings</a>
              <a [routerLink]="['/app/qazaPrayers']" routerLinkActive="active" class="nav-link">Qaza Prayers</a>
              <a [routerLink]="['/app/ayatHistory']" routerLinkActive="active" class="nav-link">Ayah History</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="whats-new dark-bg" *ngIf="appEvent==='updated'">
      <h6 class="pull-left">Updated to {{appVersion}}: What's New:</h6>
      <a class="close" aria-hidden="true" (click)='whatsNewRead()'><i class="fa fa-times"></i></a>
      <ul>
        <li>Performance improvements.</li>
        <li>New background images added</li>
      </ul>
    </div>
    <div class="site-wrapper-inner">
      <div id="coverContainer" class="cover-container">
        <div class="inner cover">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="mastfoot">
      <div class="inner">
        <div class="pull-right right-container">
          <app-hijri-date></app-hijri-date>
        </div>
        <div class="pull-left left-container">
          <a *ngIf="routerUrl === '/app/settings'" [routerLink]="['/app']" title="Settings" class="settings pull-left dark-bg active"><i class="fa fa-cog"></i></a>
          <a *ngIf="routerUrl !== '/app/settings'" [routerLink]="['/app/settings']" title="Settings" class="settings pull-left dark-bg"><i class="fa fa-cog"></i></a>
        </div>
      </div>
    </div>
    <div class="whats-new dark-bg" *ngIf="appEvent==='install'">
      <h6 class="pull-left">Jazakallah for installing!</h6>
      <a class="close" aria-hidden="true" (click)='whatsNewRead()'><i class="fa fa-times"></i></a>
      <ul>
        <li>Spread this extension for sadaqah jaryah.</li>
        <li>Don't forget to <a class="link" href="https://chrome.google.com/webstore/detail/ayattoday/nmebafllopknoonpbddekobjcmhpnejf/reviews">rate it</a> five star!</li>
      </ul>
    </div>
  </div>
</div>
<div style="display: none" *ngIf="imagesLoaded < backgroundImages.length">
  <img [src]="backgroundUrl" (load)='backgroundLoaded()' />
  <img *ngFor='let img of backgroundImages' [src]="img" (load)='anImageLoaded()' />
</div>
