.text-container {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  font-family: 'Mirza';
}

.text-container .arabic {
  line-height: 1.5;
  /* font-family: 'Mada', sans-serif; */
  direction: rtl;
  font-size: 2.25rem;
  color: #F5F2F0;
}

.text-container .translation {
  line-height: 1.25;
  direction: ltr;
  font-size: 1.2rem;
  margin-top: 16px;
  color: #75abb9;
  font-style: italic;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: justify;
  text-align-last: center;
}

.text-container .second-translation {
  line-height: 1.3;
  font-size: 1.5rem;
  margin-top: 16px;
  color: #c4b89f;
  text-align: justify;
  text-align-last: center;
}



footer {
  font-size: 1rem;
  color: rgba(227, 227, 227, 0.8);
  margin: 16px auto 10px;
}

.ayat-tools a {
  margin: 0 7px;
  z-index: 9999;
}

.ayat-tools {
  color: rgba(245, 242, 240, 0);
  bottom: 14px;
  position: absolute;
  -webkit-transition: color .35s ease;
  -moz-transition: color .35s ease;
  -ms-transition: color .35s ease;
  -o-transition: color .35s ease;
  transition: color .35s ease;
  text-shadow: none
}
.ayat-tools-right {
  right: 22px;
}
.ayat-tools-left {
  left: 22px;
}
.text-container:hover .ayat-tools {
  color: rgba(245, 242, 240, 0.8);
}

.ayat-tools a:hover {
  color: rgba(245, 242, 240, 1);
}
