/*
 * Globals
 */
@font-face {
  font-family: Mirza;
  src: url(assets/Mirza-Regular.ttf) format("truetype");
  font-weight: 400;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

::selection {
  background: #43aac4;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #43aac4;
  /* Gecko Browsers */
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Links */

a,
a:focus,
a:hover {
  color: #F5F2F0;
  cursor: pointer;
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #F5F2F0;
  border: 0.05rem solid #F5F2F0;
}

.btn-primary {
  color: #000;
  background-color: #5f5f5f;
  border-color: #4a4a4a;
}

.btn-primary:active:focus {
  color: #90b6d8;
}

/*
* Base structure
*/

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.pattern-bg {
  background-image: url("assets/flowers.png");
}

.image-bg {
  background: rgba(5, 9, 26, 0.57) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-container {
  margin: 20px auto;
}

/* Padding for spacing */

.inner {
  padding: 1rem 1.5rem;
}

/*
* Header
*/

.masthead {
  margin-bottom: 2rem;

  .inner {
    display: flex;
    justify-content: space-between;
  }
}

.masthead-brand {
  margin-bottom: 0;
  font-weight: normal;
  color: rgba(245, 242, 240, 0.5);
  cursor: default;
  flex: 1;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgba(245, 242, 240, 0.5);
  background-color: transparent;
  border-bottom: 1px solid transparent;
  text-shadow: 0.05rem 0.1rem 0rem rgba(0, 0, 0, 0.4);
  -webkit-transition: border-color 0.35s ease;
  -moz-transition: border-color 0.35s ease;
  -ms-transition: border-color 0.35s ease;
  -o-transition: border-color 0.35s ease;
  transition: border-color 0.35s ease;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(245, 242, 240, 1);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgba(245, 242, 240, 1);
  border-bottom-color: rgba(245, 242, 240, 1);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
* Cover
*/

.cover {
  padding: 1.5rem;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: bold;
}

/*
* Footer
*/

.mastfoot {
  color: rgba(245, 242, 240, 0.5);
  margin-bottom: 1rem;
}

.mastfoot .left-container {
  position: absolute;
  bottom: 0;
}



.app-name {
  margin-top: 3px;
  font-size: 0.7rem;
  color: rgba(245, 242, 240, 0.35);
}

a.settings {
  color: rgba(245, 242, 240, 0.6);
  margin-right: 12px;
  font-size: 1.2rem;
  text-shadow: 0.05rem 0.1rem 0rem rgba(0, 0, 0, 0.07);
}

a.settings.active,
a.settings:hover {
  color: rgba(245, 242, 240, 1);
}

.text-container {
  background: rgba(10, 10, 10, 0.92);
  padding: 20px 40px;
  border-radius: 8px;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 1);
  cursor: default;
  color: #eee2da;
  position: relative;
  margin: 0 auto;
}

.text-container .fa-circle-o-notch.fa-spin {
  text-align: center;
  margin-bottom: 20px;
}

.text-container small {
  color: #43aac4;
  font-size: 0.7rem;
  font-weight: bold;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0.05rem 0.1rem #000;
  cursor: default;
  color: #eee2da;
  border-radius: 4px;
  padding: 4px 10px;
}

.link {
  color: #43aac4;
}

.close {
  color: #F5F2F0 !important;
  font-weight: 400 !important;
  text-shadow: none !important;
  font-size: 1rem !important;
  opacity: 0.3 !important;
}

.ar-tooltip {
  direction: ltr !important;
}

.whats-new {
  position: fixed;
  top: 58px;
  right: 10px;
  padding: 20px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.9);
}

.whats-new ul {
  margin: 0;
  clear: both;
  font-size: 0.75rem;
  padding-left: 17px;
}


/*
* Affix and center
*/

@media (min-width: 40em),
(max-width: 40em) {

  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

.vertical-nav {
  position: relative;
  cursor: pointer;
  padding: 8px;

  &__links {
    position: absolute;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 10px 10px 10px;

    .nav-masthead {
      align-items: flex-end;
    }
  }

  &:hover {
    .vertical-nav__icon {
      z-index: 100;
      position: absolute;
      right: 8px;
      top: 12px;
    }

    .vertical-nav__links {
      display: flex;
      height: max-content;
      width: 150px;
    }
  }
}

@media (min-width: 40em) {
  .masthead {
    .nav-masthead {
      display: flex;
    }

    .vertical-nav {
      display: none;
    }
  }
}

@media (max-width: 40em) {
  .masthead {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    .nav-masthead:not(.flex-column) {
      display: none;
    }

    .vertical-nav {
      display: block;
    }
  }

  .whats-new {
    position: relative;
    top: 15px;
    right: 0;
    margin: 0px 24px;
  }

  .image-bg {
    padding-top: 66px;
  }
  .mastfoot {
      position: relative;
  }
}

.form-control:focus {
  background-color: #111;
  border-bottom: 1px solid #F5F2F0;
  outline: 0;
}

.form-control {
  font-size: 1rem;
  line-height: 1.25;
  border-bottom: 1px solid #888;
  color: #F5F2F0!important;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  /* border: 1px solid rgba(0,0,0,.15); */
  border-radius: 0;
}

@media (min-width: 62em) {
  .cover-container {
    width: 60rem;
  }

  .mastfoot,
  .masthead {
    width: 100%;
  }
}

.tooltip .tooltip-inner {
  background-color: #222;
  color: #F5F2F0;
  font-weight: bold;
  padding: 8px 22px;
  box-shadow: 0px -4px 8px 3px #000;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #222;
}

.tooltip-arrow {
  border-top-color: #222 !important;
}

.tooltip .arrow:before {
  border-top-color: #222 !important;
}

.tooltip .tooltip-inner {
  background-color: #222;
}
