.text-container {
  width: 100%;
}


.col-form-label {
  text-align: right;
  font-size: 1rem;
}

[type=checkbox],
[type=radio] {
  margin-top: .7rem;
}

footer {
  margin: 36px auto 0;
  text-align: center;
  color: #444;
  font-size: .6rem;
}

footer a {
  color: #777;
  font-weight: 600;
  text-decoration: none;
}

footer a:hover {
  color: #F5F2F0;
}
