<div class="text-container settings-container">
    <form [formGroup]="form" class="form-horizontal p-4">
      <div class="form-group row justify-content-between">
        <small>Settings</small>
        <a [routerLink]="['/app']" class="close" aria-hidden="true"><i class="fa fa-times"></i></a>
      </div>
      <div class="form-group row">
        <label class="col-4 text-left col-form-label">Background Image</label>
        <div class="col-sm-8">
            <input type="checkbox"  formControlName="backgroundImage"> &nbsp;Random
        </div>
      </div>
      <div class="form-group row text-center">
        <small>Quran Settings</small>
      </div>
      <div class="form-group row">
        <label class="col-4 text-left col-form-label">English Translation</label>
        <div class="col-sm-8">
            <input type="checkbox"  formControlName="showEnglish"> &nbsp;Saheeh International
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 text-left col-form-label">Second Translation</label>
        <div class="col-8">
          <select formControlName="translation" class="form-control">
              <option *ngFor="let obj of translations" [value]="obj.key">{{obj.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 text-left col-form-label">Audio Voice</label>
        <div class="col-8">
          <select formControlName="audioVoice" class="form-control">
              <option *ngFor="let obj of audioVoices" [value]="obj.identifier">{{obj.name}} ({{obj.language}})</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <small>Prayer Timings</small>
      </div>
      <div class="form-group row">
        <label class="col-4 text-left col-form-label">Address</label>
        <div class="col-8">
              <input type="text" class="form-control" placeholder="Karachi, Pakistan" formControlName="userLocation">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 text-left col-form-label">Prayer Method</label>
        <div class="col-8">
          <select formControlName="userPrayerMethod" class="form-control">
              <option *ngFor="let obj of prayerMethods" [value]="obj.key">{{obj.name}}</option>
          </select>
        </div>
      </div>
      <footer>
        <a title="AyatToday" href="https://chromewebstore.google.com/detail/ayattoday/nmebafllopknoonpbddekobjcmhpnejf/">AyatToday</a>
        &nbsp;|&nbsp; <a title="Rate this extension" href="https://chromewebstore.google.com/detail/ayattoday/nmebafllopknoonpbddekobjcmhpnejf/reviews">Give Review</a>
        &nbsp;|&nbsp; <a title="Report an Issue" href="https://chromewebstore.google.com/detail/ayattoday/nmebafllopknoonpbddekobjcmhpnejf/support">Support</a>
      </footer>
    </form>
</div>
